@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Full Name: Nguyễn Văn Thinh</p>
    <p>Student code: 2310900101</p>
    <p>Class: K23CNT1</p>
    <p>Email: thinhvannguyen113@gmail.com</p>
    <p>Phone: 0343841426</p>
</div>