@{
    ViewData["Title"] = "NvtProfile";
}

<h1>NvtProfile</h1>

<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900101</p>
    <p>Họ tên: Nguyễn Văn Thịnh</p>
    <P>Lớp: K2CNT1-NET</P>
    <p>Email: thinhvannguyen113@gmail.com</p>
    <p>Điện thoại: 0343.841.426</p>
</div>
